<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js" defer></script>
</head>

<body>
    <h1>Template</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia assumenda perspiciatis veniam nulla sapiente
        iusto tempora, nihil laboriosam neque perferendis nobis eius illo aperiam laudantium quidem
        maxime quam dolor esse!</p>
    <template id="template_principal">
        <h2>Titre du template</h2>
        <p class="user">Utilisateur</p>
        <p class="mail">Mail de l'utilisateur</p>
    </template>
</body>

</html>