<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="folderName">./logs</Property>
		<Property name="fileName">LogDemo</Property>
	</Properties>

	<Appenders>

		<!-- Appender de type "RollingFile" nommé "File"-->
		<RollingFile name="File" fileName="${folderName}/${fileName}.log" filePattern="${folderName}/${fileName}-%d{yyyy-MM-dd HH-mm-ss}.log">
			<PatternLayout pattern="%d{yyyy/MM/dd-HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="1 KB" />
		</RollingFile>

		<!-- Appender de type "Console" nommé "Console"-->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy/MM/dd-HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	
	<Loggers>

		<!-- Root concerne tous les packages -->
		<Root level="trace">
			<AppenderRef ref="Console" /> <!--log dans l'appender nommé "Console"-->
			<AppenderRef ref="File" /> <!--log dans l'appender nommé "File"-->
		</Root>
	</Loggers>
</Configuration>